#autocomplete-dropdown ul:empty { display: none }

#autocomplete-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    max-height: 300px;
    max-width: 500px;
    overflow: auto;
    display: block;
    z-index: 999999;
  }
  #autocomplete-dropdown ul {
    margin: 0;
    margin-top: 2px;
    padding: 0;
    list-style: none;
    background: #efefef;
  }
  #autocomplete-dropdown li {
    padding: 5px 5px;
    cursor: pointer;
  }
  #autocomplete-dropdown li.highlight {
    background: #ddd;
  }
  #autocomplete-dropdown li span {
    font-weight: bold;
  }
  #autocomplete-dropdown li.no-match {
    cursor: default;
  }
  #autocomplete-dropdown .menu-highlighted {
    font-weight: bold;
  }