@mixin link($color: var(--color-primary)) {
  font-weight: 600;
  text-decoration: none;
  color: $color;
  transition: color .2s cubic-bezier(.3,0,.5,1);
  &:hover {
    text-decoration: none;
    color: var(--color-primary-dark);
  }
}

a {
  @include link(var(--color-primary));
}