
/* HTML TEMPLATE
 <div class="named-avatar">
   <img alt="profile pic" src="<%= e(@user, :profile, :icon_url, "") %>" />
   <h3><%= e(@user, :profile, :name, "Me") %></h3>
 </div>
*/

@mixin named-avatar($color: var(--color-surface), $squared: false) {
  flex: 1;
  display: flex;
  align-items: center;
  img {
    width: var(--avatar_m);
    height: var(--avatar_m);
    border-radius: var(--avatar_m);
    border: 3px solid lightness(var(--color-primary), 1.5);
    background: var(--color-weird);

    @if $squared {
      border-radius: var(--radius);
      border: none;
    }
  }
  h3 {
    margin-left: var(--m2);
  }
}

.named-avatar {
  @include named-avatar();
}