@font-face {
  font-family: "Fira Sans";
  src: url(../fonts/FiraSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url(../fonts/FiraSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url(../fonts/FiraSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url(../fonts/FiraSans-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@mixin text-gray {
  font-size: 1em;
  color: lightness(var(--color-surface), 2.5);
  font-weight: 500;
}

@mixin sup-title {
  font-size: 1em;
  color: var(--color-text-subtle);
  font-weight: 600;
  letter-spacing: 0.5px;
}

:root {
  // font family
  --font-primary: "Fira Sans";

  // body font size
  --text-base-size: 1em;

  // type scale
  --text-scale-ratio: 1.2;
  --text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(
    var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
  --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));

  // line-height
  --body-line-height: 1.4;
  --heading-line-height: 1.2;
  // capital letters - used in combo with the lhCrop mixin
  --font-primary-capital-letter: 1;
}

// --------------------------------

// (END) Global Editor Code

// --------------------------------

.article {
  // e.g., blog posts
  --body-line-height: 1.58; // set body line-height
  --text-vspace-multiplier: 1.2; // increase vertical spacing
}

body {
  font-size: var(--text-base-size, 1em);
  font-family: var(--font-primary, sans-serif);
  color: var(--color-surface);
  background: var(--color-background);
}

h1,
h2,
h3,
h4 {
  color: var(--color-text);
  line-height: var(--heading-line-height, 1.2);
}

h1 {
  font-size: var(--text-xxl, 2.074em);
}

h2 {
  font-size: var(--text-xl, 1.728em);
}

h3 {
  font-size: var(--text-lg, 1.44em);
  @include sup-title;
}

h4 {
  font-size: 1em;
  font-weight: 400;
  color: var(--color-text-subtle);
  margin: 0;
}

small {
  font-size: var(--text-sm, 0.833em);
}

// --------------------------------

// Inline Text

// --------------------------------

strong {
  font-weight: bold;
}

s {
  text-decoration: line-through;
}

u {
  text-decoration: underline;
}

// --------------------------------

// Classes

// --------------------------------
