<div class="page__auth-simple ">
      <h1>Reset your password</h1>
      <form method="post" phx-submit="reset">
        <div class="form__container">
          <label for="email">Enter your user account's verified email address and we will send you a password reset link.</label>
          <input name="email" id="email" type="text" placeholder="Type your email..." />
        </div>
        <button phx-disable-with="sending..." type="submit">Send email</button>
      </form>
</div>
