<%= f = form_for @changeset, "#", [phx_change: :validate, phx_submit: :submit] %>
  <%= label f, :email %>
  <%= text_input f, :email %>
  <%= error_tag f, :email %>

  <%= label f, :password %>
  <%= password_input f, :password %>
  <%= error_tag f, :password %>

  <%= submit "Sign up" %>
</form>
