<main role="main" class="container">
  <% info = get_flash(@conn, :info) %>
  <% error = get_flash(@conn, :error) %>
  <%= if info || error do %>
    <div id="flash-messages">
      <%= if info do %>
        <p class="alert alert-info" role="alert"><%= info %></p>
      <% end %>
      <%= if error do %>
        <p class="alert alert-danger" role="alert"><%= error %></p>
      <% end %>
    </div>
  <% end %>
  <%= @inner_content %>
</main>
