_build
#deps
docs/exdoc
.hex
.mix
.npm
.git
.gitignore
.config
.cache
.elixir_ls
.local
.sobelow
*secrets*
config/dev
config/prod
*.env*
Docker*
docker*
# Makefile
README*
priv/static
assets/node_modules
.pnpm-store
data/search
data/postgres
data/config/dev
data/config/prod
*/*/data/postgres
forks/*/data/postgres
forks/*/.config
forks/*/.npm
forks/*/.mix
forks/*/.hex
forks/*/_build
forks/*/deps