_build
#deps
docs/exdoc
.hex
.mix
.npm
.git
.gitignore
.config
.cache
.elixir_ls
.local
.sobelow
*secrets*
config/dev
config/prod
*.env*
Docker*
docker*
.parcel-cache
assets/.parcel-cache
README*
lib/mix/tasks
lib/web
priv/static
node_modules
assets/node_modules
.pnpm-store
data/search
data/postgres
data/config/dev
data/config/prod
*/*/data/postgres
forks/*/data/postgres
forks/*/.git
forks/*/.config
forks/*/.npm
forks/*/.mix
forks/*/.hex
forks/*/_build
forks/*/deps
forks/*/assets/node_modules
extensions/*/data/postgres
extensions/*/.git
extensions/*/.config
extensions/*/.npm
extensions/*/.mix
extensions/*/.hex
extensions/*/_build
extensions/*/deps
extensions/*/assets/node_modules
