use flake
watch_file deps.nix
watch_file props.nix

function env_file_watch {
  config_file_path="config/${MIX_ENV:-dev}"
  config_file="${config_file_path}/.env"
  if [[ -f ${config_file} ]]; then
    watch_file ${config_file}
    dotenv ${config_file}
  fi
  secrets_file="${config_file_path}/secrets.env"
  if [[ -f ${secrets_file} ]]; then
    watch_file ${secrets_file}
    dotenv ${secrets_file}
  fi
}

env_file_watch
export WITH_DOCKER=no
