use flake
watch_file deps.nix
watch_file props.nix

function env_file_watch {
  config_file="config/${MIX_ENV:-dev}/public.env"
  if [[ -f ${config_file} ]]; then
    watch_file ${config_file}
    dotenv ${config_file}
  fi
}

env_file_watch
export WITH_DOCKER=no
