# You can use asdf or [mise](https://github.com/jdx/mise) to install these
# NOTE: see upgrade instructions in .tool-versions.env
erlang       26.2.4
elixir       1.16.2-otp-26
# erlang       25.3.2.8
# elixir       1.13.4-otp-25
just         1.25.2
yarn         1.22.19
nodejs       21.6.1
chromedriver latest
