# You can use asdf or [mise](https://mise.jdx.dev/) to install these
# NOTE: see upgrade instructions in .tool-versions.env
erlang       27.2
elixir       1.18-otp-27
# elixir       1.17.3-otp-27
# erlang       25.3.2.8
# elixir       1.13.4-otp-25
just         1.35.0
gh           2.61.0
yarn         1.22.22
nodejs       22.9.0
# chromedriver latest
# ^ we don't want this in CI
