# You can use asdf or rtx to install these
# NOTE: see upgrade instructions in .tool-versions.env
erlang       26.2.1
elixir       1.16.0-otp-26
just         1.20
yarn         1.22.19
nodejs       21.5.0
chromedriver latest
