<header class="cpub__header">
  <nav
    role="navigation"
    aria-label="Main navigation">
  <div class="header__left">
    <%= live_redirect to: "/" do %>
      <h3>Bonfire</h3>
    <% end %>
  </div>
  <div class="header__right">
    <%= if Kernel.function_exported?(Bonfire.Me.Web.HeaderMeLive, :render, 1), do: live_component(
          @socket,
          Bonfire.Me.Web.HeaderMeLive,
          current_user: @current_user
        ) %>

    </div>
    </nav>
  </header>
