<h1>User Switcher</h1>

<ul class="user-list">
  <%= for user <- @users do %>
    <li>
      <%= link "@" <> user.character.username,
            to: "/switch-user/@" <> user.character.username %>
    </li>
  <% end %>
</ul>
