
/* STANDARD */

.standard__logo {
  grid-area: header;
  place-self: center;
  text-align: center;
  margin-bottom: 32px;
}

.standard__logo h1 {
  font-size: 20px;
}

.standard__logo img {
  width: 60px;
  margin: 0 auto;
}


.standard__bg {
  background: url(https://i.pinimg.com/originals/82/96/9f/82969f3ab96d90482a6354ae4dd8b629.png);
  background-size: cover;
}