.mainContent__navigation {
  margin-top: var(--m2);
  border-bottom: var(--border);
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  padding: 0 16px;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: var(--color-surface); 
}

.home__navigation {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.navigation__title {
  height: 30px;
  line-height: 30px;
  /* border-bottom: var(--border); */
  margin: 0 -8px;
  padding: 16px;
  border-top: var(--border);
  padding-bottom: 0;
  padding-top: 8px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation__item {
  place-self: center;
  position: relative;
  cursor: pointer;
  color: var(--color-text);
  font-weight: 500;
  font-size: 14px;
  &:hover {text-decoration: none};
}

.navigation__item.active {
  color: var(--color-primary);
}

.meta__main-menu {
  .panel__item {
    padding: 0 var(--m3) !important;
    i {
      margin-right: 8px;
      font-size: 20px;
      font-weight: 300;
      color: #3b3b3b;
    }
  }
}

.navigation__item.active::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--color-primary);
  display: block;
  bottom: -18px;
}

.navigation__item i {
  margin-right: 4px;
}

.selected__header {
  height: 50px;
  border-bottom: var(--border);
  padding: 0 var(--m2);
  display: grid;
}

.selected__header h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  align-self: center;
  margin: 0;
  margin-left: var(--m2);
}
