.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--m2)
}

.pagination button {
  margin: 0;
  width: 135px
}

.pagination button:first-of-type {
  margin-right: 8px;
}