
  <%= live_component(@socket, Bonfire.Web.Components.HeroLive, assigns) %>
  <div class="flex mt-6 -mx-2">
    <div class="w-3/5 px-2">
     <%= live_component(@socket, Bonfire.Web.Components.FeedLive, assigns) %>
    </div>
    <div class="w-2/5 px-2">
      
      <div class="mt-4">
        <%= live_component(
          @socket,
          Bonfire.Web.Components.InstanceAdminsLive,
          assigns
        ) %>
      </div>
    </div>
  </div>
