@font-face {
	font-family: 'OpenDyslexic';
	src: url('/fonts/OpenDyslexic.ttf.woff') format('woff'),
		url('/fonts/OpenDyslexic.ttf.svg#OpenDyslexic') format('svg'),
		url('/fonts/OpenDyslexic.ttf.eot'),
		url('/fonts/OpenDyslexic.ttf.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}