.page__container {
    display: grid;
    grid-template-rows: 60px 1fr;
  }
  
  .page {
    display: grid;
    height: calc(100vh - 60px);
    overflow: hidden;
    // grid-template-columns: 260px 1fr;
    grid-template-columns: 1fr;
    transition: transform 0.2s ease;
    background-color: var(--color-background);
    &.full {
      grid-template-columns: 1fr;
    }
  }
  
  .guest__container {
    overflow-y: scroll;
    height: calc(100vh - 60px);
  }
  
  .page.guest {
    display: grid;
    height: calc(100vh - 60px);
    grid-template-columns: 1fr;
    overflow: overlay;
    .page__full {
      overflow: overlay;
    }
  }
  
  .page__wrapper {
    overflow-y: scroll;
    height: inherit;
    background: var(--color-background);
  }
  
  .page__mainContent {
    max-width: 760px;
    min-width: 350px;
    margin: 0 auto;
  }
  .full .page__mainContent {
    max-width: 960px;
  }
  
  .mainContent__selected {
    margin: var(--m3) 0;
    margin-top: 0;
    background-color: var(--color-surface);
    border-top: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
  
  .selected__area .component__activity:last-of-type {
    border-bottom: none;
  
  }
  
  .selected__area:empty:before {
    font-family: "feather" !important;
    content: "\e93e";
    font-size: 40px;
    text-align: center;
    display: block;
    color: var(--gray);
    margin-top: var(--m3);
  }
  
  .selected__area:empty:after {
    content: "Nothing to see here...";
    font-size: 20px;
    text-align: center;
    display: block;
    margin-top: var(--m2);
    color: var(--gray);
    margin-bottom: var(--m3);
  }
  
  .area__title {
    margin: -16px;
    margin-bottom: 0;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    padding-left: var(--m3);
    text-transform: initial;
    border-bottom: var(--border);
    align-items: center;
    display: flex;
  }
  
  .block__title {
    margin: 0 -8px;
    margin-bottom: 0;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    padding-left: var(--m3);
    text-transform: initial;
    border-bottom: var(--border);
    align-items: center;
    display: flex;
  }
  
  .settings__panel {
    background-color: #f7f6f3;
    padding: var(--m3);
    height: 100vh;
    position: relative;
  }
  
  .settings__panel:hover .panel__burger {
    display: flex;
  }
  .panel__burger {
    position: absolute;
    right: var(--m2);
    top: var(--m2);
    font-size: 24px;
    color: #aaaaaa;
    top: 16px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    display: none;
  }
  .panel__burger i {
    margin: 0 auto;
  }
  
  // DRAWER
  
  .side__drawer {
    width: 260px;
    background: var(--color-surface);
    border: none;
    min-height: calc(100vh - 60px);
    height: calc(100vh - 60px);
    border: none;
    position: relative;
    transition: transform 0.2s ease;
    display: grid;
    .drawer__menu {
      overflow-y: auto;
  
      .menu__link {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        margin-top: 24px;
        &:hover {
          background: var(--color-border);
        }
        span {
          background: var(--color-tertiary);
          width: 40px;
          height: 40px;
          display: grid;
          place-content: center;
          border-radius: 16px;
          font-size: 18px;
          color: #fff;
          margin-right: var(--m2);
          cursor: pointer;
        }
      }
      .communities__wrapper {
        position: relative;
        margin-top: var(--m3);
        details {
          margin-bottom: var(--m3);
          color: var(--color-text);
          summary {
            font-size: 11px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: var(--color-text-subtle);
            font-weight: 400;
            padding: 0 var(--m3);
            height: 30px;
            line-height: 30px;
          }
          .handle {
            cursor: pointer;
          }
        }
      }
      .panel__item {
        font-size: 15px;
        padding: var(--m1) var(--m3);
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-bottom: var(--m2);
        a {
          display: flex;
          flex: 1;
          height: 40px;
          align-items: center;
          color: var(--color-surface);
          font-weight: 500;
          i {
            margin-right: var(--m2);
            line-height: 40px;
          }
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  
  .empty__communities {
    background: var(--color-border);
    margin: var(--m3);
    padding: var(--m2);
    border-radius: 6px;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-secondary);
    span {
      text-decoration: underline;
      color: var(--color-primary);
      cursor: pointer;
    }
  }
  .community__select {
    margin-bottom: var(--m2);
    height: 36px;
    border-radius: 6px;
    padding-left: var(--m2);
    background: var(--color-primary);
    display: inline-flex;
    align-items: center;
    label {
      display: grid;
      place-content: center;
      margin-right: var(--m2);
    }
    select {
      font-size: 12px;
      font-weight: 600;
      border: none;
      background: transparent;
      box-shadow: none;
    }
  }
  
  .general__post {
    .post__sub__actions {
      display: flex;
      flex: 0 0 auto;
      margin-top: var(--m2);
      button {
        flex: 1;
      }
    }
  
    .post__toggle {
      height: 0;
      transform-origin: bottom;
      opacity: 0;
      visibility: hidden;
      transition: height 0.4s ease, opacity 0.4s ease;
  
      &.form__visible {
        margin-bottom: var(--m2);
        height: 36px;
        margin-bottom: 11px;
        opacity: 1;
        visibility: visible;
      }
      input {
        width: 100%;
        box-sizing: border-box;
      }
    }
    .post__wrapper {
      border: var(--border);
      border-radius: 4px;
    }
    textarea {
      border: none;
      padding: var(--m2);
      min-height: 150px;
      border-radius: 4px 4px 0 0;
      box-sizing: border-box;
    }
    .post__actions {
      padding: var(--m2);
      background: #ebebeb;
      border-radius: 0 0 4px 4px;
      display: flex;
      flex: 0 0 auto;
      margin-top: -5px;
      details {
        position: relative;
        summary::-webkit-details-marker {
          display: none;
        }
        summary {
          list-style: none;
          padding: 0;
          height: 38px;
          max-height: 38px;
        }
        .community__select {
          position: absolute;
          background-color: white;
        }
      }
      .button-outline-only-icon {
        &.active {
          color: var(--color-primary);
          a {
            color: var(--color-primary);
          }
        }
        padding: 0;
        height: 32px;
        width: 32px;
        background: transparent;
        box-shadow: none;
        display: grid;
        place-content: center;
        margin-right: var(--m3);
        font-size: 12px;
        font-weight: 500;
        color: lightness(var(--color-surface), 1.5);
        a {
          display: flex;
          place-content: center;
          color: lightness(var(--color-surface), 1.5);
        }
        i {
          font-size: 16px;
          font-weight: 500;
        }
        &:hover {
          background: #d7d7d7;
        }
      }
    }
  }
  
  .drawer__profile {
    @include icon-dropdown("right");
    color: #fff;
    &.ligth {
      summary:before {
        background: transparent;
      }
    }
  }
  
  .general__details {
    .panel__item {
      @include named-avatar($squared: true);
      h3 {
        @include truncate(160px);
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
  
  .guest__menu {
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-bottom: var(--border);
    .menu__left {
      flex: 1;
      display: flex;
      align-items: center;
      .left__home {
        color: var(--color-surface);
      }
      input {
        margin-left: 16px;
        width: 280px;
        border-radius: 8px;
        box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
        background: #f9f9f9;
        font-size: 14px;
      }
    }
    .menu__right {
      display: flex;
      a {
        margin-left: var(--m2);
      }
    }
  }
  
  .cpub__header {
    height: 60px;
    background-color: var(--color-background-dark);
    border-bottom: 1px solid var(--color-surface);
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    .aside {
      aside {
        h2 {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 24px;
        }
        position: absolute;
        z-index: 1000000;
        background-color: #fff;
        width: 320px;
        min-width: 320px;
        max-width: 320px;
        box-sizing: border-box;
        outline: none;
        overflow-y: auto;
        visibility: visible;
        pointer-events: auto;
        top: 0;
        left: 0;
        right: auto;
        height: 100vh;
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-duration: 0.18s;
        animation-duration: 0.18s;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
        position: fixed;
        box-shadow: rgba(0, 0, 0, 0.22) 0px 25.6px 57.6px 0px,
          rgba(0, 0, 0, 0.18) 0px 4.8px 14.4px 0px;
        padding: 16px;
        .aside__app {
          margin-bottom: 16px;
          border: var(--border);
          padding: 12px;
          border-radius: 6px;
          cursor: pointer;
        }
      }
    }
    .header__right {
      align-self: center;
      display: flex;
      align-items: center;
      margin-right: var(--m2);
  
      .right__notification {
        background: var(--color-tertiary);
        width: 40px;
        height: 40px;
        display: grid;
        place-content: center;
        border-radius: 16px;
        font-size: 18px;
        color: #fff;
        margin-right: var(--m2);
        cursor: pointer;
        &:hover {
          background: var(--color-tertiary-dark);
        }
      }
      .panel__item {
        margin-left: var(--m2);
      }
      .box__info,
      .box__info a {
        display: flex;
        align-items: center;
        img {
          width: 36px;
          height: 36px;
          border-radius: 12px;
          border: 2px solid var(--color-text-subtle);
          margin-right: var(--m2);
        }
        h3 {
          color: var(--color-text);
          margin-right: var(--m4);
          font-weight: 500;
        }
      }
    }
    .header__left {
      display: flex;
      align-items: center;
      flex: 1;
      .left__action {
        margin-left: var(--m3);
      }
      a {
        &:hover {
          text-decoration: none;
        }
      }
      h3 {
        color: var(--color-text);
        margin: 0;
        margin-left: var(--m2);
      }
    }
    .header__search {
      max-width: 468px;
      width: 100%;
      margin-left: var(--m3);
      border: 2px solid var(--color-border);
      background: var(--color-selection);
      color: var(--color-text);
      &::placeholder {
        color: var(--color-text-subtle);
        font-size: 14px;
      }
    }
    .feather-grid {
      height: 50px;
      width: 50px;
      display: grid;
      place-content: center;
      color: var(--color-text);
      font-size: 24px;
      cursor: pointer;
      transition: background 0.2s ease-in;
      &:hover {
        background-color: lightness(var(--color-primary), 0.6);
      }
    }
  }
  .dialog__create {
    input[type="text"] {
      margin-bottom: var(--m2);
    }
  }
  .dialog.fullpage,
  #write_dialog:target {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    transform: none;
    max-width: 100%;
    max-height: 100%;
  }
  
  .page__full {
    background: var(--color-background) !important;
  }
  
  .page__wrapper {
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
  }
  
  #slide-sidebar {
    display: none;
  }
  
  #slide-sidebar:checked ~ .side__drawer {
    width: 0;
    overflow: hidden;
  }
  
  #slide-sidebar:checked ~ .page__wrapper {
    left: 0;
  }
  
  #slide-sidebar:checked ~ #slide-sidebar-label {
    left: 0;
  }
  
  #slide-sidebar-label {
    z-index: 10;
    position: absolute;
    top: 15px;
    left: 220px;
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
    background: aquamarine;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    border-radius: 4px;
    span {
      display: block;
      width: 100%;
      font-size: 20px;
    }
  }
  
  .link_inputs_extra {
    display: none;
  }
  #input_url:valid + .link_inputs_extra {
    display: block;
  }
  
  .theme-switch-wrapper {
  }
  