<menu>
  <item onclick="edit">{l("Open")}</item>
  <hr />
  <%!-- <%= for item <- @todos do %>
    <item 
        type="checkbox" 
        checked={item.status == "done"}
        onclick={"toggle:#{item.id}"} 
        ><%= item.text %></item>
    <% end %> --%>
  <hr />
  <item onclick="quit">{l("Quit")}</item>
</menu>
