<header class="cpub__header">
  <nav
    role="navigation"
    aria-label="Main navigation">
  <div class="header__left">
    <%= live_redirect to: "/" do %>
      <h3>VoxPublica</h3>
    <% end %>
  </div>
  <div class="header__right">
    <%= live_component(
          @socket,
          HeaderMeLive,
          current_user: @current_user
        ) %>

    </div>
    </nav>
  </header>
