<mjml>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-text font-size="20px">
          {Config.get([:ui, :theme, :instance_welcome, :description], "")}
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
