<mjml>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-text font-size="20px">{@page_title}</mj-text>
      </mj-column>
    </mj-section>
    <%!-- <Bonfire.Web.Views.AboutLive.about_live_mjml /> --%>
  </mj-body>
</mjml>
